<h1>Listing opinions</h1>

<table>
  <tr>
    <th>Issue</th>
    <th>Opinion</th>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
  </tr>

<% @opinions.each do |opinion| %>
  <tr>
    <td><%= opinion.issue.name %></td>
    <td><%= opinion.positive ? 'For' : 'Against' %></td>
    <td><%= opinion.name %></td>
    <td><%= opinion.comment %></td>
    <td><%= link_to 'Report', opinion, confirm: 'Is this hateful speech or SPAM?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opinion', new_opinion_path %>
