<h1>Listing opinions</h1>

<p class="action-call">
  <%= link_to 'Share your opinion', new_opinion_path %>
</p>

<ol id="opinion-list">
<% @opinions.each do |opinion| %>
  <% if opinion.positive? %>
  <li class="positive">
    <p class="heading">
      <span class="name"><%= opinion.name %></span>
      supports
  <% else %>
  <li class="negative">
    <p class="heading">
      <span class="name"><%= opinion.name %></span>
      is against
  <% end %>
      <span class="issue"><%= opinion.issue.name %></span>.
      <span class="time"><%= time_ago_in_words opinion.created_at %> ago</span>
      <%= link_to 'Report', opinion, confirm: 'Is this hateful speech or SPAM?', method: :delete %>
    </p>
    <p class="comment">
      <%= opinion.comment %>
    </p>
  </li>
<% end %>
</ol>
