<p id="notice"><%= notice %></p>

<p>
  <b>Issue:</b>
  <%= @opinion.issue %>
</p>

<p>
  <b>Positive:</b>
  <%= @opinion.positive %>
</p>

<p>
  <b>Name:</b>
  <%= @opinion.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @opinion.comment %>
</p>


<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
